@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:opsz,wght@14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
}

:root {
  --background-color: #08090a;
  --white-color: #fefefe;
  --primary-color: #18e299;
  --text-dim: #ffffffb3;
  --brand-font: "Geist", sans-serif;
  --text-font: "Inter", sans-serif;
}
main {
  font-family: var(--text-font);
  font-style: normal;
  color: var(--white-color);
}

a {
  color: var(--white-color);
  text-decoration: none;
}

li {
  list-style: none;
}

.brandText {
  font-family: var(--brand-font);
  color: var(--primary-color);
  font-weight: 400;
}
.container {
  border: 0.5px solid #ffffff26;
  border-radius: 1.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 1440px;
  top: 0;
  font-family: var(--text-font);
  z-index: 999;
  padding: 1rem 1.5rem;
  background-color: rgba(230, 224, 224, 0.129);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(10px);
}
.navLogo {
  margin-top: 4px;
}
.navMenu {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-items: center;
  color: var(--white-color);
  font-size: 15px;
}

.navMenu li {
  padding: 0 10px;
  border: 0.6px solid rgba(0, 0, 0, 0);
}

.navActionBtn {
  display: flex;
  gap: 0.5rem;
}
.navActionBtn a {
  padding: 5px 12px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 2rem;
  font-size: 15px;
  font-weight: 500;
  border: 0.75px solid rgba(122, 118, 118, 0.074);
}

.navActionBtn a:first-child {
  color: var(--white-color);
  background-color: #0c0c0c26;
  padding-top: 5px;
}

.navActionBtn a:last-child {
  color: var(--background-color);
  background-color: var(--white-color);
  padding: 6.5px 12px;
}
.headerSpacer {
  height: 4.25rem;
}
.heroSection {
  position: relative;
}
.heroBackgroundImage {
  position: absolute;
  top: -5rem;
  isolation: isolate;
  left: 0;
  width: 100%;
  z-index: -999;
}
.heroSectionContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroCTA {
  background-color: rgba(234, 233, 233, 0.207);
  padding: 0.25rem 0.4rem;
  border-radius: 1rem;
  display: flex;
  gap: 0.6rem;
  align-items: center;
  position: relative;
  margin-top: 1.75rem;
  border: none;
  color: var(--white-color);
  cursor: pointer;
}
.heroCTA span:first-child {
  background-color: rgb(36, 145, 82);
  border-radius: 1rem;
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
}
.heroCTA span:nth-child(2) {
  font-weight: 500;
  font-size: medium;
  padding-right: 1.5rem;
}
.heroCTA span:last-child {
  position: absolute;
  top: 20%;
  right: 2%;
}

.heroParagraphSection {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heroParagraphSection h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}
.heroParagraphSection p {
  max-width: 29.5rem;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  margin-top: 24px;
}
.heroEmailContainer {
  background-color: rgba(234, 233, 233, 0.207);
  padding: 0.5rem 0 0.5rem 1rem;
  border: 0.75px solid rgba(196, 196, 196, 0.424);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  margin-top: 2rem;
}
.heroEmailContainer input {
  background-color: transparent;
  outline: none;
  border: none;
  font-weight: bold;
  color: white;
  padding: 0.2rem 0 0 0;
  font-size: 1.1rem;
}
.heroEmailContainer input::placeholder {
  font-weight: 500;
  opacity: 0.5;
  color: var(--text-dim);
  font-size: 1.1rem;
}

.heroEmailContainer button {
  background-color: var(--white-color);
  border: 1px solid rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.heroUiImageContainer {
  margin: 0 auto;
  margin-top: 5rem;
  overflow: hidden;
  padding-top: 0 0.2rem;
  background-color: var(--background-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.heroUiImage {
  object-fit: contain;
  mask-repeat: no-repeat;
  width: 100%;
}

.trustedBrandSection {
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2;
  gap: 1rem;
  padding: 2rem 4rem 2.5rem 4rem;
}
.trustedCardsContainer {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
}
.trustedCardsContainer img {
  max-height: 1.5rem;
  object-fit: contain;
}

.paragraphSection {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  text-align: center;
  padding-bottom: 2rem;
}
.paragraphSection h2 {
  font-size: 3rem;
}
.paragraphSection p {
  text-align: center;
  color: var(--text-dim);
  font-size: 1.25rem;
}
.featuresSection {
  display: flex;
  gap: 2rem;
  background-color: var(--background-color);
  padding: 0.5rem;
}

.featuresCards {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.featureName {
  font-size: 0.9rem;
  text-transform: uppercase;
}
.featureCardTitle {
  font-size: 1.5rem;
  font-weight: 500;
}
.featureCardDescription {
  color: var(--text-dim);
}
.featureCardImage {
  width: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
}

.assistanceFeature {
  background-color: var(--background-color);
  padding: 0.5rem;
  text-align: center;
  padding-bottom: 10rem;
}

.assistanceFeature .featureDescription {
  max-width: 30rem;
  margin: 0 auto;
  color: var(--text-dim);
}

.enterpriseReinventionSection {
  background-color: #141516;
  padding: 3rem 6.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 5rem;
}
.enterpriseReinventionSection .firstContainer {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.enterpriseReinventionSection .firstContainer .leftContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.enterpriseReinventionName {
  text-transform: uppercase;
  font-size: 0.9rem;
}
.enterpriseReinventionTitle {
  font-size: 2rem;
  font-weight: 500;
}

.enterpriseReinventionDescription {
  color: var(--text-dim);
  font-size: 0.8rem;
}

.enterpriseReinventionBtnContainer {
  display: flex;
  align-items: flex-end;
}
.enterpriseReinventionBtn {
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  font-size: 0.8rem;
}
.enterpriseReinventionSection .secondContainer {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.enterpriseReinventionSection .secondContainer div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.enterpriseReinventionSection .secondContainer div img {
  width: 3rem;
  background-repeat: no-repeat;
}
.enterpriseReinventionSection .secondContainer div h2 {
  font-size: 1.2rem;
}
.enterpriseReinventionSection .secondContainer div p {
  color: var(--text-dim);
}

.enterpriseReinventionSection .thirdContainer img {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 1rem;
}
.enterpriseReinventionSection .fourthContainer {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(188, 185, 185, 0.632);
  display: flex;
  gap: 1rem;
  padding: 0 4rem;
  justify-content: space-between;
  max-width: 1280px;
}

.enterpriseReinventionSection .fourthContainer span:first-child {
  color: var(--white-color);
}

.customersSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--background-color);
  padding: 5rem 0;
}

.customersSection .firstContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  padding: 2rem 3rem;
}
.customersSection .firstContainer h2 {
  text-transform: uppercase;
  font-size: 0.7rem;
}
.customersSection .firstContainer p:first-of-type {
  font-size: 2.2rem;
  font-weight: bold;
}
.customersSection .firstContainer p:last-of-type {
  color: var(--text-dim);
}

.customersSection .secondContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  padding-left: 3rem;
}

.customersSection .secondContainer div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 80%;
}
.customersSection .secondContainer div img {
  border-radius: 1rem;
}
.customersSection .secondContainer div {
  color: var(--text-dim);
  font-size: 0.75rem;
}
.customersSection .thirdContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.customersSection .thirdContainer button {
  padding: 0.25rem 0.5rem;
  border-radius: 100%;
  border: none;
}

.finalCTASection {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 7.5rem 1.5rem;
}

.finalCTASection .firstContainer h2 {
  text-align: center;
  font-size: 2.5rem;
  max-width: 988px;
  margin: 0 auto;
  line-height: 110%;
  font-weight: 600;
}

.finalCTASection .firstContainer p {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.finalCTASection .firstContainer div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.finalCTASection .firstContainer div button:first-child {
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  border: none;
  font-family: var(--text-font);
}
.finalCTASection .firstContainer div button:last-child {
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--text-dim);
  font-family: var(--text-font);
  background-color: transparent;
  color: var(--white-color);
}

.finalCTASection .secondContainer {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  width: 100%;
}
.finalCTASection .secondContainer div {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
}
.finalCTASection .secondContainer div:first-child {
  border-right: 0.7px solid rgba(255, 255, 255, 0.1);
}
.finalCTASection .secondContainer div img {
  border-radius: 0.8rem;
  padding: 0.5rem;
  box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.1);
}
.finalCTASection .secondContainer div h2 {
  font-size: 1.5rem;
  font-weight: normal;
}

.finalCTASection .secondContainer div a {
  margin-top: 1.5rem;
}

footer {
  background-color: #141516;
  border-top: 0.5px solid #222526;
  padding: 0 1.5rem;
}
.footerSection .firstContainer {
  display: flex;
  justify-content: space-between;
  padding: 5rem 1.5rem 1rem 1.5rem;
  border: 0.5px solid #222526;
  border-top: none;
}
.footerSection .firstContainer .brandLogoContainer {
  display: flex;
  align-items: center;
}
.footerSection .firstContainer .brandLogoContainer img {
  height: 1.4rem;
  margin-right: 0.2rem;
}
.footerSection .firstContainer .brandLogoContainer span {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 0.15rem;
}
.footerSection .socialLogoContainer {
  display: flex;
  gap: 1rem;
}
.footerSection .socialLogoContainer img {
  height: 1.3rem;
  aspect-ratio: 1/1;
}
.footerSection .footerMenuSection {
  padding: 2rem 1.5rem 4rem 1.5rem;
  border: 0.5px solid #222526;
  border-top: none;
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.footerMenuContainer .footerMenuHeading {
  color: var(--text-dim);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

.footerMenu {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  gap: 1rem;
}

.thirdContainer {
  border: 0.5px solid #222526;
  border-top: none;
  padding: 1rem 2.5rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}
.fourthContainer {
  padding: 2.5rem 2.5rem 4rem 2.5rem;
  border: 0.5px solid #222526;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .8rem;
  color: var(--text-dim);
}
.fourthContainer img{
  height: 2.7rem;
}